# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.so
venv/
.venv/
env/

# Environment
.env

# ML artifacts
saved_models/
data/
logs/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
